body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

button {
  background-color: #ff7a18;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff5200;
  transform: scale(1.05);
}


#chatBox {
  width: 80%;
  max-width: 600px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 15px;
  overflow-y: auto;
  margin: 20px auto;
  text-align: left;
}

.message {
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  width: fit-content;
  max-width: 80%;
}

.myMessage {
  background: rgba(255, 122, 24, 0.8);
  margin-left: auto;
  text-align: right;
}

#supportBox {
  margin: 15px auto;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  font-size: 16px;
}